/* Table color */

.table-cell{
  background-color:#ebeced;
}

/* Summary */

#summary{
  width:100%;
  float:right;
  text-align:right;
  /* background-color:#484e4f; */
}

#summary_in{
  padding: 10px 20px 10px 20px;
}

#sum{
  margin: 0px 0px;
  padding: 0px 0px;
  border-top: 0px solid #ffffff;
  border-bottom: 0px solid #ffffff;
}

/* LOGIN */

#login{

}
#signup{

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


.full-fill{
  padding: 0 !important;
  margin: 0 !important;
}

.category-income{
  background-color:#1fa1b8;
}
.category-expense{
  background-color:#1fa1b8;
}
.category-expense_flex{
  background-color:#1fa1b8;
}
.scroll-bar{
  height:94vh;
}
.menu-bar{
  background-color:#076b8a;
}
.vh-50{
  height:50vh;
}
