{% extends "base.html" %}

{% load bootstrap4 %}

{% block contant %}
<div>
  <div class="jumbotron bg-secondery text-dark shadow">
    <div class="container">
      <h1>Create Expense / <strong class="text-primary">{{category.category}}</strong></h1>
      <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Create</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
