<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
             ['Element', '£', { role: 'style' }],
             {% for category in categoies %}
               ["{{category.category}}",
               {{category.amount_total}},
               "#0275d8"],
             {% endfor %}     
          ]);


    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

    var options = {
      "title":"Expense: {% if expense_total == None %}£0{% else %} £-{{expense_total}}{% endif %}",
      titleTextStyle: {color: '#292b2c'},
      backgroundColor: { fill:'transparent'},
      bar: {groupWidth: "95%"},
      legend: { position: "none" },
      // backgroundColor: "white",
      hAxis: {textStyle:{color: '#292b2c'}}
    };
    var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
    chart.draw(view, options);
}
</script>
<div id="columnchart_values" style="width: 100%; height: 95%;"></div>
