<div id="summary" class="text-dark">
  <div id="summary_in" class="">
    <h1>Summary</h1>
    <div id="sum">
      <div class="d-flex justify-content-between">
        <h4>Income:</h4>
        {% if income_total == None %}
        <h4>£0</h4>
        {% else %}
        <h4>£{{income_total}}</h4>
        {% endif %}
      </div>
      <div class="d-flex justify-content-between">
        <h4>Expence:</h4>
        {% if expense_total == None %}
        <h4>£0</h4>
        {% else %}
        <h4 class="text-danger">£-{{expense_total}}</h4>
        {% endif %}
      </div>
    </div>
    {% if summary >= 0 %}
    <h1>£{{summary}}</h1>
    {% else %}
    <h1 class="text-danger">£{{summary}}</h1>
    {% endif %}
  </div>
</div>
