
<div id="chart_div" class="vh-50 shadow rounded"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Time of Day');
      data.addColumn('number', 'Account');

      data.addRows([
        {% for x in chart_data %}
        [new Date({{x.0}}, {{x.1}}, {{x.2}}), {{x.3}}],
        {% endfor %}
      ]);

      var options = {
        hAxis: {title: 'Timeline'},
        vAxis: {title: 'Account amount'},
        backgroundColor: 'white',
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    </script>
